[submodule "3DEngine/vendor/imgui"]
	path = 3DEngine/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "3DEngine/vendor/ImGuiColorTextEdit"]
	path = 3DEngine/vendor/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "3DEngine/vendor/Coral"]
	path = 3DEngine/vendor/Coral
	url = https://github.com/StudioCherno/Coral.git
[submodule "3DEngine/vendor/--recursive"]
	path = 3DEngine/vendor/--recursive
	url = https://github.com/StudioCherno/Coral.git
