[submodule "src/3DEngine/vendor/imgui"]
	path = src/3DEngine/vendor/imgui
	url = git@github.com:ocornut/imgui.git

[submodule "src/3DEngine/vendor/glfw"]
	path = src/3DEngine/vendor/glfw
	url = https://github.com/glfw/glfw

[submodule "src/3DEngine/vendor/glm"]
	path = src/3DEngine/vendor/glm
	url = https://github.com/g-truc/glm

[submodule "src/3DEngine/vendor/assimp"]
	path = src/3DEngine/vendor/assimp
	url = https://github.com/assimp/assimp.git
[submodule "src/3DEngine/vendor/LuaBridge"]
	path = src/3DEngine/vendor/LuaBridge
	url = git@github.com:vinniefalco/LuaBridge.git
[submodule "src/3DEngine/vendor/spdlog"]
	path = src/3DEngine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "src/3DEngine/vendor/yaml-cpp"]
	path = src/3DEngine/vendor/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "src/3DEngine/vendor/ImGuizmo"]
	path = src/3DEngine/vendor/ImGuizmo
	url = git@github.com:TheCherno/ImGuizmo.git
[submodule "src/3DEngine/vendor/JoltPhysics"]
	path = src/3DEngine/vendor/JoltPhysics
	url = git@github.com:jrouwe/JoltPhysics.git
